spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/postgres
    username: sonarqube
    password: sonarqube
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8088